* {
    align-items: center;
}

body {
    background-color: transparent;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-container-5 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
    align-items: center;
    justify-content: center;
}
.centerthis2 {
    align-self: center;
    justify-self: center;
  }

.poscentralized{

    -webkit-display: flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    }

/* ---------------------------------------------------------------------------------------------------------------------- */
table {
    border-collapse: collapse;
    width: 95%;
    margin: auto;
}

thead {
    text-align: center;
}
table:nth-child(even) {
    align-items: center;
}

th,
td {
    padding: 0.1em 0.1em;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 250px;
    height: 100px;
    border: 1px;
    box-sizing: border-box;
}



.divFornecedor {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


  