.nav-texts a,
.nav-texts a:visited {
  color: #ffffff;
  font-size: 20px;
}

#Titulo h1{
  font-size: 2vw;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

#clicavel{
  cursor: pointer;
}

.blocoInvisivelUsuarioDireita{
  width: 35px;
  margin-right: 200px;
}

.blocoInvisivelUsuarioEsquerda{
  width: 30px;
  margin-left: 200px;
}

.lixoUsuario{
  width: 30px;
  margin-right: 200px;
}

.lixoFornecedor{
  width: 30px;
  margin-left: 10vw;
}

.flexMainUsuario{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 200px;
}

.flexMainFornecedor{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.flexMainFornecedor h1 {
  margin-left: 10vw;
}

.mainTitle {
  font-size: 2vw;
  margin-top: 4vh;
  font-weight: bold;
  text-align: center;
}

.recebimentoTitulo{
  width: 400px;
  font-size: 2vw;
  margin-top: 4vh;
  font-weight: bold;
  text-align: center;
}

.mainTitle1 {
  font-size: 2vw;
  margin-top: 4vh;
  font-weight: bold;
  text-align: center;
  margin-left: 21%;
}

.titleRegister1 {
  margin: 5vh 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.loggout {
  margin-right: 0.5vw;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #3E813B;
  font-weight: 500;
  transition-duration: 0.5s;
  color: white;
  padding: 1%;
}

.loggout:hover {
  background-color: #3E813B;
  color: #B4D892;
}

/*Botões de seleção de status*/
.state {
  display: flex;
  justify-content: center;

  width: 80%;
}

.state button {
  margin: 2vh 2vw;

  background-color: #D9D9D9;
  padding: 0 1.5vw;
  border: none;

  font-size: 30px;
  font-weight: 500;
}

#register {
  color: #FFFFFF;
  background-color: #3E813B;
  width: 20%;
  padding: 0%;
  border: none;
  border-radius: 10px;

}

#register a,
#register a:visited,
#register a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.mainContent {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.centralizaTitulo{
  gap: 10%;
  margin: 5vh 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*Título e botão de cadastro */
.titleRegister {
  margin: 5vh 0;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.botoesNavegacao{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  gap: 20%;
  width: 95%;
}

.centralizaTitulo .mainTitle{
  align-self: center;
  margin: 0;
}

.titleRegister .mainTitle {
  align-self: center;
  margin: 0;
}

.titleRegister #register {
  align-self: center;
  margin-left: 5vw;

}


.listaIn {
  background-color: #C0C0C0;

  margin: 2vh 0;

  width: 80%;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 0.5%;
  padding-right: 1%;

  font-weight: bold;
  border-style: solid;
  border-color: #D9D9D9;
  border-width: 1vw;
}

/*Colunas para os campos de listagem*/
.listColumns {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 0.5;
}

.listColumns .column1 {
  width: 100%;
}

.listColumns .column1_for {
  width: 50%;
}

.listaIn h1 {
  font-size: 30px;
  margin-bottom: 2vh;
}

.listaIn p {
  font-size: 25px;
}

#botaoTopo {
  position: fixed;
  top: 90%;
  left: 95%;
  font-size: 2vh;
  padding-top: 0.75%;
  padding-left: 1%;
  padding-bottom: 0.75%;
  padding-right: 1%;
  background-color: #B4D892;
  border: none;
  border-radius: 60%;
}

#botaoTopo:hover {
  background-color: #3E813B;
}

/* HEADER */
.header {
  overflow: hidden;
  background-color: #30321C;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: #FCF7F8;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.nav-logo {
  width: 35px;
  margin: 0 0 0 10px;
  margin-left: 3vw;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a.active {
  background-color: #FCF7F8;
  color: black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

/* CRIA UMA CAIXA SOLIDA COM BORDA */
p.solid {
  border-style: solid;
  background-color: #D4DF9E;
  border-color: #30321C;
  color: white;
  font-weight: bold;
}

.input_form {
  background-color: #C0C0C0;
  border-color: transparent;
  width: 200px;
  height: 35px;
}

.cancel_button {
  background: #FF6962;
  border-radius: 20px;
  border-color: transparent;
  width: 150px;
  margin-top: 2vh;
}

.cancel_button:hover {
  background: #ee2a20;
}

.cancel_button a,
.cancel_button a:visited,
.cancel_button a:hover {
  text-decoration: none;
  color: #000000;
}

.confirm_button {
  background: #B4D892;
  border-radius: 20px;
  border-color: transparent;
  margin-left: 3vw;
  width: 150px;
  margin-top: 2vh;
}

.confirm_button:hover {
  background-color: #3E813B;
}

.bg_navbar {
  background-color: #3E813B;
}

.navbar_itens {
  position: relative;
  margin-right: 1vw;
  display: flex;
}

#linkBotaoCadastro {
  display: flex;
  justify-content: center;
}

.cadastro {
  align-self: center;
  width: 70%;
}

/* Aqui estão varias coisas do login */

.login2 {
  background-color: #3E813B;
  height: 100vh;

}

.login_button {
  border-radius: 20px;
  border-color: transparent;
  height: 50px;
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: large;
}

.login_button:hover {
  margin: auto;
  width: 60%;
  background-color: #c5d8c4;

}

.login-center {
  margin: auto;
  width: 50%;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.login-text {
  color: white;
  text-align: center;

}

.logo {
  width: 40%;
  margin-right: 2vw;
}

.logocentro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: large;
}

.box2 {
  width: 12vw;
  margin-right: 2.5vw;
}

.box3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  width: 1000px;
  background-color: #FFEF78;
  border-radius: 7px;
  padding-top: 1vh;
}


.box3 .mainTitle {
  align-items: center;
  font-size: 2vw;
  margin-top: 4vh;
  margin-left: 1%;
  font-weight: bold;
}

.box3 a {
  text-decoration: none;
  color: #000000;
}

.flexCheckbox{
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.minimo {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-weight: bold;
}

.box3 .minimo .input_form {
  width: 232px;
  font-weight: bold;

  background-color: #C0C0C0;
  border-color: transparent;
  padding: 7px;
  text-align: center;
}

.box3 .minimo .limitacao {

  font-weight: bold;
}

.box3 .minimo input {
  margin-left: 1%;
  background-color: #C0C0C0;

  text-align: center;
  border-color: transparent;
  font-weight: bold;
  margin-left: 1%;
  padding: 7px;
}

.box3 .minimo .obrigacao {

  font-weight: bold;
}

.box3 .minimo .checkbox {
  outline-color: #C0C0C0;
  accent-color: #C0C0C0;
  padding: 7px;
  font-weight: bold;
  border-radius: 8px;
  margin-left: -4%;
}

.tipo-regra {

  font-weight: bold;
}

.box3 .avaria .input_form {
  background-color: #C0C0C0;
  border-color: transparent;
  width: 232px;
  padding: 7px;
  align-items: center;
  text-align: center;
  margin-left: 1%;
  font-weight: bold;
}

.box3 .avaria .limitacao {
  margin-left: 4%;
  font-weight: bold;
}

.box3 .avaria input {
  background-color: #c0c0c0bb;
  border-color: transparent;
  width: 127px;
  text-align: center;
  margin-left: 1%;
  padding: 7px;
  border: none;
  font-weight: bold;
}

.box3 .avaria .obrigacao {
  margin-left: 3%;
  font-weight: bold;
}

.box3 .avaria .checkbox {
  margin-left: -4%;
  outline-color: #C0C0C0;
  accent-color: #C0C0C0;
  padding: 7px;
  font-weight: bold;
  border-radius: 8px;
}

.box3 .personalizada .limitacao {
  margin-left: 4%;
  font-weight: bold;
}

.box3 .personalizada .tipo-regra {
  margin-left: -3%;
  font-weight: bold;
}

.box3 .personalizada .input_form {
  background-color: #C0C0C0;
  border-color: transparent;
  width: 232px;
  padding: 7px;
  align-items: center;
  text-align: center;
  margin-left: 1%;
  font-weight: bold;
}

.box3 .personalizada input {
  background-color: #C0C0C0;
  border-color: transparent;
  width: 127px;
  text-align: center;
  margin-left: 1%;
  padding: 7px;
  border: none;
  font-weight: bold;
}

.box3 .personalizada .obrigacao {
  margin-left: 3%;
  font-weight: bold;
}

.box3 .personalizada .checkbox {
  margin-left: -4%;
  outline-color: #C0C0C0;
  accent-color: #C0C0C0;
  padding: 7px;
  font-weight: bold;
  border-radius: 8px;
}

.titleRegister .mainTitle {
  font-weight: bold;
  margin-left: 1%;
}

.button-relatorio {
  background-color: #5D5D5D;
  color: #FFFFFF;
  margin-left: -85%;
  border: none;
  border-radius: 7px;
  border-color: transparent;
}

.button {
  background-color: #5D5D5D;
  color: #FFFFFF;
  margin-left: -85%;
  border: none;
  margin-top: 3%;
  border-radius: 7px;
  border-color: transparent;
}

.info {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.laudo {
  display: flex;
  background-color: #D9D9D9;
  padding: 15px 0px;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  width: 700px;
  margin-bottom: 3%;
  color: #000000;
}

.resultadoCheckbox {
  font-weight: bold;
}

.divCheckbox {
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.laudo .tipo-laudo {
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding: 9px;
  border-color: transparent;
}

.laudo .haver {
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-color: transparent;
  padding: 9px;

}

.laudo .checkbox {

  outline-color: #000000;
  accent-color: #000000;
}

.regra-avaria {
  background-color: #D9D9D9;
  border: none;
  width: 60%;
  display: flex;
  padding: 15px;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3%;
}

.laudo .tipo-avaria {
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding: 6px;
  border-color: transparent;
}

.laudo .regra-valor {
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-color: transparent;
  padding: 6px;

}

.laudo .checkbox {

  outline-color: #000000;
  accent-color: #000000;
}

.laudo .descricao {
  width: 100vw;
  padding: 10px;
  height: 120px;
  white-space: pre-line;
  border: #000000;
  border-style: solid;
  font-weight: bold;
  text-align: start;
  font-size: medium;
  color: #000000;
  background-color: #C0C0C0;
  border-width: 1px;
  margin-left: 2vw;
  margin-right: 2vw;
}

.manipular {
  background-color: #D9D9D9;
  padding: 9px;
  margin-left: 17%;
  width: 51%;
  margin-top: 3%;

}

.laudo .tipo-regra {
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding: 6px;
  border-color: transparent;

}

.laudo .limitacao {
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-color: transparent;
  padding: 6px;
  width: 231px;

}

.laudo .manipular-regra {
  background-color: #C0C0C0;

  font-weight: bold;
  text-align: center;
  border-color: black;
  color: hwb(0 0% 100%);
  width: 229px;
  padding: 6px;
  margin-left: 5%;
  border-width: 1px;
}

#textoPreto {
  color: #000000;
}

.regra-personalizar {
  background-color: #D9D9D9;
  padding: 9px;
  margin-left: 3%;
  width: 37%;

}

.laudo .personalizar {
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  width: 249px;
  padding: 6px;
  border-color: transparent;
}

.laudo .regra-valor {
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-color: transparent;
  padding: 6px;
  width: 249px;

}

.laudo .checkbox {

  outline-color: #000000;
  accent-color: #000000;
}

.flash {
  --toastify-icon-color-error: #3e813b;
}

.button_margin {
  display: table-cell;
  padding-left: 1.2vw;
  padding-right: 2vw;
}

.reset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* botão */
.lista_button {
  border-radius: 5px;
  border-color: transparent;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: large;
}

.lista_button.active {
  background: #3e813b;
  color: white;
}

.anaq1 {
  background-color: #D9D9D9;
  margin: 2vh 0;
  width: 33vw;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  font-weight: 500;
  display: flex;
}

.anaq2 {
  background-color: #5D5D5D;
  color: white;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 20vw;
  display: inline;
  margin-right: 2vw;
}

.input_form2 {
  background-color: #C0C0C0;
  border-color: transparent;
  width: 45%;
  padding-top: 0.6vh;
  padding-bottom: 0.6vh;
}

.uni_quant {
  font-weight: bold;
  font-size: 2.5vh;
}

/* botão arrumar */
.cancel_button3 {
  background: #FF6962;
  border-radius: 20px;
  border-color: transparent;
  width: 150px;
  margin-top: 2vh;
  margin-right: 3vw;

}

.cancel_button3:hover {
  background: #ee2a20;
  border-radius: 20px;
  border-color: transparent;
  width: 150px;
  /* margin-top: 2vh;
   margin-right:3vw; */

}

.cancel_button3 a,
.cancel_button3 a:visited,
.cancel_button3 a:hover {
  text-decoration: none;
  color: #000000;
}

.quickfix {
  margin-top: 10vw;
}

/* .pesquisa {
  margin: auto;
  width: 70%;
  padding: 10px;
  
} */
.termo-pesquisa {
  width: 65vw;
  border: 3px solid gray;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;

}

.mesmalinha {
  display: inline;
  margin-left: 0vw;
}

#imagem-pesquisa {
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.ped_btn {
  background-color: #D9D9D9;
  border: none;
  height: 6vh;
  width: 15vw;
  margin-right: 1.5vw;
}

.ped_btn2 {
  background-color: #3E813B;
  color: white;
  border: none;
  height: 6vh;
  width: 15vw;
  margin-right: 1.5vw;
}

.hr_pedido {
  width: 100%;
  border-width: 2px;
  border-color: #000000;
}

/* Regras de Recebimento */

.addRegras {
  background: transparent;
  border: none;
  /* border-top: none;
  border-left: none;
  border-right: none; */
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 3vh;

  text-decoration-line: underline;
  text-decoration-thickness: 1.5px;
}

.lixeira {
  position: absolute;
  background-repeat: no-repeat;
  background-color: transparent;
  float: left;
  margin-right: 940px;

  border: 1px solid #000000;
  width: 1.5vw;
  cursor: pointer;
}

.checkboxzin {
  position: relative;
  opacity: 1;
  cursor: pointer;
  width: 15px;
  /* background-color: #FFEF78; */
  border: none;
}

.checkboxzin::before {
  content: "";
  opacity: 1;
  display: inline-block;
  width: 25px;
  height: 4vh;
  border: 3.5px solid lightgrey;
  background-color: #FFEF78;
  position: relative;
  top: -1vh;
}


.checkboxzin:checked::before {
  content: "\2714";
}

.box3 .minimo .input_formLimit {
  background-color: #C0C0C0;
  border-color: transparent;
  width: 220px;
  height: 35px;
}

.box3 .avaria .input_formLimit {
  background-color: #C0C0C0;
  border-color: transparent;
  width: 220px;
  height: 35px;
}

.box3 .personalizada .input_formLimit {
  background-color: #C0C0C0;
  border-color: transparent;
  width: 220px;
  height: 35px;
}

.shadow {
  box-shadow: 2px 4px 1px 1px #00000000;

}

.testeaDireita {
  width: 10px;
  transform: scaleX(-1);
}

.testeaEsquerda {
  width: 10px;
}

.upsideDown {
  transform: rotate(180deg);
  height: 25px;
  width: 20px;
}

.recebepedidot {
  position: absolute;
  margin-left: 39%;
}

.arrumar {
  margin-bottom: 3vh;
}

.arrumarporfavor3 {
  margin-top: 3vh;
}

.botaoteste3 {
  background-color: gray;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-size: 30px;
  font-size: 15px;
  border: 1px solid #ddd;
  width: 150px;
}

.blocoInvisivel{
  width: 200px;
}


.botaoteste4 {
  background-color: gray;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-size: 30px;
  font-size: 15px;
  border: 1px solid #ddd;
  width: 200px;
}

.botaoteste5Esquerda {
  background-color: gray;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-size: 30px;
  font-size: 15px;
  border: 1px solid #ddd;
  width: 150px;
  margin-right: 50px;
}

.botaoteste5Direita {
  background-color: gray;
  color: white;
  font-weight: bolder;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-size: 30px;
  font-size: 15px;
  border: 1px solid #ddd;
  width: 150px;
  margin-right: 50px;
}

.txtAlg {
  text-align: center;
}

.testea{
  height: 25px;
  width: 20px;
}

.laudo .tipo-avaria1 {
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding: 6px;
  border-color: transparent;
  margin-left: 5%;
}

.laudo .descricao1{
  width: 100vw;
  padding: 10px;
  height: 120px;
  white-space: pre-line;
  border: #000000;
  border-style: solid;
  font-weight: bold;
  text-align: start;
  font-size: medium;
  color: #000000;
  background-color: #C0C0C0;
  border-width: 1px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: -8%;
}

/* Formatação do Relatório final */
.boxFinalProdutoReportGreen {
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
}

.boxFinalProdutoReportGreen label{
  font-weight: bold;
  margin-left: 3%;
}

.boxFinalProdutoReportGreen .prod-nome{
  margin-left: 3%;
  text-align: center;
}

.boxFinalProdutoReportGreen .nome-confirme{
  text-align: center;
  margin-left: 5%;
}

.boxFinalRazaoSocialReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalRazaoSocialReportGreen label{
  font-weight: bold;
  margin-left: 2%;
}

.boxFinalRazaoSocialReportGreen .razao-nome{
  margin-left: 3%;
  text-align: center;
}

.boxFinalRazaoSocialReportGreen .razao-nome-confirme{
  text-align: center;
  margin-left: 3%;
}

.boxFinalTransporteReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalTransporteReportGreen label{
  font-weight: bold;
  margin-left: 2%;
}

.boxFinalTransporteReportGreen .nome-transporte{
  margin-left: 1%;
  text-align: center;
}

.boxFinalTransporteReportGreen .transporte-confirme{
  text-align: center;
  margin-left: 3%;
}

.boxFinalValorUniReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalValorUniReportGreen label{
  font-weight: bold;
  margin-left: 2%;
}

.boxFinalValorUniReportGreen .valor-unico{
  margin-left: 1%;
  text-align: center;
}

.boxFinalValorUniReportGreen .valor-confirme{
  text-align: center;
  margin-left: 3%;
}

.boxFinalValorTotalReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalValorTotalReportGreen label{
  font-weight: bold;
  margin-left: 2%;
}

.boxFinalValorTotalReportGreen .valor-total{
  margin-left: 1%;
  text-align: center;
}

.boxFinalValorTotalReportGreen .valor-confirme{
  text-align: center;
  margin-left: 3%;
}

.boxFinalCondicaoPagamentoReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalCondicaoPagamentoReportGreen label{
  font-weight: bold;
}

.boxFinalCondicaoPagamentoReportGreen .cond-pagar{
  margin-left: 1%;
  text-align: center;
}

.boxFinalCondicaoPagamentoReportGreen .cond-confirme{
  margin-left: 1%;
  text-align: center;
}

.boxFinalTipoFreteReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalTipoFreteReportGreen label{
  font-weight: bold;
}

.boxFinalDataPedidoReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalDataPedidoReportGreen label{
  font-weight: bold;
}

.boxFinalDataEntregaReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalDataEntregaReportGreen label{
  font-weight: bold;
}

.boxFinalQuantReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalQuantReportGreen label{
  font-weight: bold;
}

.boxFinalPesoReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalPesoReportGreen label{
  font-weight: bold;
}

.boxFinalLaudoReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalLaudoReportGreen label{
  font-weight: bold;
}

.boxFinalPersonalizadaReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalPersonalizadaReportGreen label{
  font-weight: bold;
}

.boxFinalAvariaReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalAvariaReportGreen label{
  font-weight: bold;
}

.boxFinalAvariaReportGreen .haver{
  margin-left: 2%;
  text-align: center;
}

.boxFinalAvariaReportGreen .ha{
  text-align: center;
  margin-left: 2%;
}

.boxFinalAvariaReportGreen .comentario{
  width: 70%;
  padding: 9px;
  margin-left: 9%;
}

.boxFinalUmidaePurezaReportGreen{
  background-color: #AFFFAB;
  border: 6px solid #3E813B;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalUmidaePurezaReportGreen label{
  font-weight: bold;
}

.titulo-aprovado{
  background-color: #3E813B;
  color: #FFFFFF;
  width: 40%;
  text-align: center;
  margin-left: 30%;
  padding: 3px;
  border-radius: 16px;
  margin-top: 3%;
  font-weight: bold;
}

.titulo-aprovado p{
  margin-top: 3%;
}

.botao-aprovado .pedido{
  background-color: #C0C0C0;
  font-weight: bold;
  border-color: transparent;
  border-radius: 6px;
  color: #000000;
  margin-top: 3%;
  margin-left: 44%;
  text-align: center;
  width: 12%;
}

.boxFinalProdutoReportRed {
  background-color: #FF8282;
  border: 6px solid #DD2424;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalAvariaReportRed{
  background-color: #FF8282;
  border: 6px solid #DD2424;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalTransporteReportRed{
  background-color: #FF8282;
  border: 6px solid #DD2424;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalTransporteReportRed label{
  font-weight: bold;
}

.boxFinalTransporteReportRed .nome-transporte{
  margin-left: 1%;
  text-align: center;
}

.boxFinalTransporteReportRed .transporte-confirme{
  margin-left: 4%;
  text-align: center;
}

.boxFinalAvariaReportRed{
  background-color: #FF8282;
  border: 6px solid #DD2424;
  width: 40%;
  margin-left: 30%;
  padding: 5px;
  margin-top: 3%;
}

.boxFinalAvariaReportRed label{
  font-weight: bold;
}

.titulo-recusado{
  background-color: #DD2424;
  color: #FFFFFF;
  width: 40%;
  text-align: center;
  margin-left: 30%;
  padding: 3px;
  border-radius: 16px;
  margin-top: 3%;
  font-weight: bold;
}

.titulo-recusado p{
  margin-top: 3%;
}

.botao-recusado{
  margin-top: 3%;
  margin-left: 31%;
}

.botao-recusado .pedido{
  background-color: #C0C0C0;
  color: #000000;
  font-weight: bold;
  border-color: transparent;
  border-radius: 5px;
  width: 25%;
}

.botao-recusado .force-aceite{
  background-color: #3E813B;
  color: #F5F5F5;
  font-weight: bold;
  margin-left: 7%;
  border-color: transparent;
  border-radius: 5px;
  width: 25%;
}

/* coisas da expansividade */
.card {
  border-radius: 16px;
  cursor: pointer;
  overflow: hidden;
  transition: all .5s;
  background-color: #C0C0C0;
}
.card-content {
  transition: height 0.5s;
  overflow: hidden;
  height: auto;
}

.card-details {
  display: none;
  padding: 10px;
  background-color: #d9d9d9;
}

.card .content {
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  overflow: hidden;
  transform: translateY(30px);
}

.card.active .content {
  height: 260px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
}
