.nav-texts a,
.nav-texts a:visited {
  color: #ffffff;
  font-size: 20px;
}

.mainTitle {
  font-size: 2vw;
  margin-top: 4vh;
  font-weight: bold;
}

.loggout {
  margin-right: 0.5vw;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #3E813B;
  font-weight: 500;
  transition-duration: 0.5s;
  color: white;
  padding: 1%;
}

.loggout:hover {
  background-color: #3E813B;
  color: #B4D892;
}

/*Botões de seleção de status*/
.state {
  display: flex;
  justify-content: center;

  width: 80%;
}

.state button {
  margin: 2vh 2vw;

  background-color: #D9D9D9;
  padding: 0 1.5vw;
  border: none;

  font-size: 30px;
  font-weight: 500;
}

#register {
  color: #FFFFFF;
  background-color: #3E813B;
  width: 20%;
  padding: 0%;
  border: none;
  border-radius: 10px;

}

#register a,
#register a:visited,
#register a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Título e botão de cadastro */
.titleRegister {
  margin: 5vh 0;
  
  width: 80%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.titleRegister .mainTitle {
  align-self: center;
  margin: 0;
}

.titleRegister #register {
  align-self: center;
  margin-left: 5vw;
  
}


.listaIn {
  background-color: #C0C0C0;

  margin: 2vh 0;

  width: 80%;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 0.5%;
  padding-right: 1%;

  font-weight: bold;
  border-style: solid;
  border-color: #D9D9D9;
  border-width: 1vw;
}

/*Colunas para os campos de listagem*/
.listColumns {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 0.5;
}

.listColumns .column1 {
  width: 50%;
}

.listColumns .column1_for {
  width: 50%;
}

.listaIn h1 {
  font-size: 30px;
  margin-bottom: 2vh;
}

.listaIn p {
  font-size: 25px;
}

#botaoTopo {
  position: fixed;
  top: 90%;
  left: 95%;
  font-size: 2vh;
  padding-top: 0.75%;
  padding-left: 1%;
  padding-bottom: 0.75%;
  padding-right: 1%;
  background-color: #B4D892;
  border: none;
  border-radius: 60%;
}

#botaoTopo:hover {
  background-color: #3E813B;
}

/* HEADER */
.header {
  overflow: hidden;
  background-color: #30321C;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: #FCF7F8;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.nav-logo {
  width: 35px;
  margin: 0 0 0 10px;
  margin-left: 3vw;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a.active {
  background-color: #FCF7F8;
  color: black;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

/* CRIA UMA CAIXA SOLIDA COM BORDA */
p.solid {
  border-style: solid;
  background-color: #D4DF9E;
  border-color: #30321C;
  color: white;
  font-weight: bold;
}

.input_form {
  background-color: #C0C0C0;
  border-color: transparent;
  width: 200px;
}

.cancel_button {
  background: #FF6962;
  border-radius: 20px;
  border-color: transparent;
  width: 150px;
  margin-top: 2vh;
}

.cancel_button:hover {
  background: #ee2a20;
}

.cancel_button a,
.cancel_button a:visited,
.cancel_button a:hover {
  text-decoration: none;
  color: #000000;
}

.confirm_button {
  background: #B4D892;
  border-radius: 20px;
  border-color: transparent;
  margin-right: 3vw;
  width: 150px;
  margin-top: 2vh;
}

.confirm_button:hover {
  background-color: #3E813B;
}

.bg_navbar {
  background-color: #3E813B;
}

.navbar_itens {
  position: relative;
  margin-right: 1vw;
  display: flex;
}

#linkBotaoCadastro{
  display: flex;
  justify-content: center;
}

.cadastro {
  align-self: center;
  width: 70%;
}

/* Aqui estão varias coisas do login */

.login2 {
  background-color: #3E813B;
  height: 100vh;

}

.login_button {
  border-radius: 20px;
  border-color: transparent;
  height: 50px;
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: large;
}

.login_button:hover {
  margin: auto;
  width: 60%;
  background-color: #c5d8c4;

}

.login-center {
  margin: auto;
  width: 50%;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.login-text {
  color: white;
  text-align: center;

}

.logo {
  width: 40%;
  margin-right: 2vw;
}

.logocentro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: large;
}

.box2 {
  width: 12vw;
  margin-right: 2.5vw;
}

.box3 {
  margin-left: 18%;
  justify-content: space-between;
  width: 63%;
  background-color: #FFEF78;
  border-radius: 7px;
}


.box3 .mainTitle {
  align-items: center;
  font-size: 2vw;
  margin-top: 4vh;
  margin-left: 1%;
  font-weight: bold;
}

.box3 a{
  text-decoration: none;
  color: #000000;
}

.box3 .minimo .tipo-regra{
  margin-left: -3%;
  font-weight: bold;
}

.box3 .minimo .input_form{
  width: 232px;
  font-weight: bold;
  margin-left: 1%;
  background-color: #C0C0C0;
  border-color: transparent;
  padding: 7px;
  text-align: center;
}

.box3 .minimo .limitacao{
  margin-left: 4%;
  font-weight: bold;
}

.box3 .minimo input{
  margin-left: 1%;
  background-color: #C0C0C0;
  width: 127px;
  text-align: center;
  border-color: transparent;
  font-weight: bold;
  margin-left: 1%;
  padding: 7px;
}

.box3 .minimo .obrigacao{
  margin-left: 3%;
  font-weight: bold;
}

.box3 .minimo .checkbox{
  outline-color: #C0C0C0;
  accent-color: #C0C0C0;
  padding: 7px;
  font-weight: bold;
  border-radius: 8px;
  margin-left: -4%;
}

.box3 .avaria .tipo-regra{
  margin-left: -3%;
  font-weight: bold;
}

.box3 .avaria .input_form{
  background-color: #C0C0C0;
  border-color: transparent;
  width: 232px;
  padding: 7px;
  align-items: center;
  text-align: center;
  margin-left: 1%;
  font-weight: bold;
}

.box3 .avaria .limitacao{
  margin-left: 4%;
  font-weight: bold;
}

.box3 .avaria input{
  background-color: #c0c0c0bb;
  border-color: transparent;
  width: 127px;
  text-align: center;
  margin-left: 1%;
  padding: 7px;
  border: none;
  font-weight: bold;
}

.box3 .avaria .obrigacao{
  margin-left: 3%;
  font-weight: bold;
}

.box3 .avaria .checkbox{
  margin-left: -4%;
  outline-color: #C0C0C0;
  accent-color: #C0C0C0;
  padding: 7px;
  font-weight: bold;
  border-radius: 8px;
}

.box3 .personalizada .limitacao{
  margin-left: 4%;
  font-weight: bold;
}

.box3 .personalizada .tipo-regra{
  margin-left: -3%;
  font-weight: bold;
}

.box3 .personalizada .input_form{
  background-color: #C0C0C0;
  border-color: transparent;
  width: 232px;
  padding: 7px;
  align-items: center;
  text-align: center;
  margin-left: 1%;
  font-weight: bold;
}

.box3 .personalizada input{
  background-color: #C0C0C0;
  border-color: transparent;
  width: 127px;
  text-align: center;
  margin-left: 1%;
  padding: 7px;
  border: none;
  font-weight: bold;
}

.box3 .personalizada .obrigacao{
  margin-left: 3%;
  font-weight: bold;
}

.box3 .personalizada .checkbox{
  margin-left: -4%;
  outline-color: #C0C0C0;
  accent-color: #C0C0C0;
  padding: 7px;
  font-weight: bold;
  border-radius: 8px;
}

.titleRegister .mainTitle{
  font-weight: bold;
  margin-left: 1%;
}

.button-relatorio{
  background-color: #5D5D5D;
  color: #FFFFFF;
  margin-left: -85%;
  border: none;
  border-radius: 7px;
  border-color: transparent;
}

.button{
  background-color: #5D5D5D;
  color: #FFFFFF;
  margin-left: -85%;
  border: none;
  margin-top: 3%;
  border-radius: 7px;
  border-color: transparent;
}

.laudo{
  background-color: #D9D9D9;
  padding: 9px;
  margin-left: 1%;
  width: 35%;
  margin-top: 3%;
}

.laudo .tipo-laudo{
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding: 9px;
  border-color: transparent;
}

.laudo .haver{
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-color: transparent;
  padding: 9px;
  margin-left: 3%;
}

.laudo .checkbox{
  margin-left: 3%;
  outline-color: #000000;
  accent-color: #000000;
}

.regra-avaria{
  background-color: #D9D9D9;
  border: none;
  align-items: center;
  width: 36%;
  margin-left: 2%;
  padding: 9px;
  margin-top: 3%;
}

.regra-avaria .tipo-avaria{
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding: 6px;
  border-color: transparent;
}

.regra-avaria .regra-valor{
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-color: transparent;
  padding: 6px;
  width: 232px;
  margin-left: 4%;
}

.regra-avaria .checkbox{
  margin-left: 3%;
  outline-color: #000000;
  accent-color: #000000;
}

.regra-avaria .descricao{
  width: 507px;
  padding: 10px;
  height: 120px;
  white-space: pre-line;
  margin-top: 2%;
  font-weight: bold;
  text-align: start;
  font-size: small;
  color: #00000068;
  background-color: #C0C0C0;
}

.manipular{
  background-color: #D9D9D9;
  padding: 9px;
  margin-left: 17%;
  width: 51%;
  margin-top: 3%;
}

.manipular .tipo-regra{
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding: 6px;
  border-color: transparent;
  
}

.manipular .limitacao{
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-color: transparent;
  padding: 6px;
  width: 231px;
  margin-left: 3%;
}

.manipular .manipular-regra{
  background-color: #C0C0C0;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-color: transparent;
  color: #0000002c;
  width: 229px;
  padding: 6px;
  margin-left: 5%;
}

.regra-personalizar{
  background-color: #D9D9D9;
  padding: 9px;
  margin-left: 3%;
  width: 37%;
  margin-top: 3%;
}

.regra-personalizar .personalizar{
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  width: 249px;
  padding: 6px;
  border-color: transparent;
}

.regra-personalizar .regra-valor{
  background-color: #5D5D5D;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  border-color: transparent;
  padding: 6px;
  width: 249px;
  margin-left: 3%;
}

.regra-personalizar .checkbox{
  margin-left: 2%;
  outline-color: #000000;
  accent-color: #000000;
}

.flash {
  --toastify-icon-color-error: #3e813b;
}

.button_margin{
  display: table-cell;
  padding-left: 1.2vw;
  padding-right: 2vw;
}

.reset{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}

/* botão */
.lista_button {
  border-radius: 5px;
  border-color: transparent;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: large;
}

.lista_button:focus {
  background:#3e813b;
  color:white;
}

.anaq1 {
  background-color: #D9D9D9;
  margin: 2vh 0;
  width: 30vw;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  font-weight: 500;
}

.anaq2 {
  background-color: #5D5D5D;
  color: white;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  width: 20vw;
  display: inline;
  margin-right: 2vw;
} 

.input_form2 {
  background-color: #C0C0C0;
  border-color: transparent;
  width:45%;
  padding-top: 0.6vh;
  padding-bottom: 0.6vh;
}

.uni_quant{
  font-weight: bold;
  font-size: 2.5vh;
}

 /* botão arrumar */
 .cancel_button3 {
  background: #FF6962;
  border-radius: 20px;
  border-color: transparent;
  width: 150px;
  margin-top: 2vh;
  margin-right:3vw;
  
}
 .cancel_button3:hover {
  background: #ee2a20;
  border-radius: 20px;
  border-color: transparent;
  width: 150px;
  /* margin-top: 2vh;
   margin-right:3vw; */
  
}

.cancel_button3 a,
.cancel_button3 a:visited,
.cancel_button3 a:hover {
  text-decoration: none;
  color: #000000;
}
.quickfix{
  margin-top:10vw;
}

/* .pesquisa {
  margin: auto;
  width: 70%;
  padding: 10px;
  
} */
.termo-pesquisa {
  width: 65vw;
  border: 3px solid gray;
  background-color: lightgray;
  padding: 5px;
  border-radius: 5px;
  
}
/* .pesquisa2 {
  background-color:gray;
  border-radius:5px;
  width: 3%;
} */
.mesmalinha{
  display: inline;
  margin-left: 3vw;
}
#imagem-pesquisa {
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 30px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}