<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pedido</title>
</head>
<body>
    <form action="/postCadastroPedido" method="post">

        <label for="fornecedor">Nome do fornecedor:</label>
        <input type="text" id="fornecedor" name="fornecedor"> <br><br>

        <label for="transportadora">Tranportadora contratada:</label>
        <input type="text" id="transportadora" name="transportadora"><br><br>

        <label for="tipo_frete">Tipo de frete:</label>
        <input type="text" id="tipo_frete" name="tipo_frete"><br><br>

        <label for="produto_massa">Quantidade:</label>
        <input type="text" id="produto_massa" name="produto_massa"><br><br>

        <label for="descricao">Descrição do produto:</label>
        <input type="text" id="descricao" name="descricao"><br><br>

        <label for="data_entrega">Data de entrega:</label>
        <input type="date" id="data_entrega" name="data_entrega"><br><br>
        <input type="submit" value="Cadastrar">
    </form>
</div>
    
</body>
</html>