<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pedido</title>
</head>
<body>
    <form action="" method="post">
        <label for="nomeFornecedor">Fornecedor:</label>
        <input type="text" name="nomeFornecedor">
        <br><br>
        <label for="descricaoMaterial">Material:</label>
        <input type="text" name="descricaoMaterial">
        <br><br>
        <label for="quantidadeMaterial">Quantidade:</label>
        <input type="text" name="quantidadeMaterial">
        <br><br>
        <label for="dataEntrega">Data de entrega</label>
        <input type="date" name="dataEntrega">
        <br><br>
        <label for="nomeTransportadora">Transportadora:</label>
        <input type="text" name="nomeTransportadora">
        <br><br>
        <input type="submit" value="Cadastrar">
    </form>
</div>
    
</body>
</html>