<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/boxCadastro.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

    <title>Cadastro de Usuarios</title>
</head>

<body>
    <!-- <a href="/">Voltar</a><br> -->
    <nav class="navbar navbar-dark navbar-expand-lg bg_navbar">
        <a class="navbar-brand text_navbar" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar_itens">
                <a class="nav-item nav-link" href="/">Pedidos</a>
                <a class="nav-item nav-link" href="/fornecedores">Fornecedores</a>
                <a class="nav-item nav-link" href="#">Produtos</a>
                <a class="nav-item nav-link" href="/usuariosCadastrados">Usuarios</a>
            </div>
        </div>
    </nav>

    <div class="divFornecedor">
        <h1>Cadastro de Usuário</h1>
        <form action="/postCadastroUsuario" method="post">
            <div class="poscentralized">

                <div class="grid-container">
                    <div class="box">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3">Login:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="input_form" type="text" id="login" name="login">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="box">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3">Senha:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="input_form" type="password" id="senha" name="senha">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="box">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3">nome:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="input_form" type="text" id="nome" name="nome">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="box">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3">CPF:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="input_form" type="text" id="cpf" name="cpf">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="box">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3">Função:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="input_form" type="text" id="funcao" name="funcao">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="box">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3">CEP:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="input_form" type="text" id="cep" name="cep">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="box">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3">Estado:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="input_form" type="text" id="estado" name="estado">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="box">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3">Cidade:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="input_form" type="text" id="cidade" name="cidade">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="box">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3">Endereço:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="input_form" type="text" id="endereco" name="endereco">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="box">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="3">Número:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="input_form" type="text" id="numero" name="numero">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <input class="confirm_button" type="submit" value="Cadastrar">
            <button class="cancel_button">Cancelar</button>
        </form>
    </div>

</body>

</html>