<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <script src="/scripts/scripts.js"></script>
    <title>Cadastro de Pedidos</title>
</head>
<body>
    <form action="/postCadastroPedido" method="post">

        <label for="razao_social">razão social:</label>
        <input type="text" id="razaoSocial" name="razaoSocial"> <br><br>

        <label for="nome_fantasia">Nome fantasia:</label>
        <input type="text" id="nomeFantasia" name="nomeFantasia"> <br><br>

        <label for="transportadora">Transportadora:</label>
        <input type="text" id="tranportadora" name="tranportadora"> <br><br>

        <label for="tipo_frete">Tipo de frete:</label>
        <input type="text" id="tipoFrete" name="tipoFrete"><br><br>

        <label for="produto_massa">Quantidade:</label>
        <input type="text" id="quantidade" name="produtoMassa"><br><br>

        <label for="descricao">Descrição do produto:</label>
        <input type="text" id="descricaoProduto" name="descricao"><br><br>

        <label for="valor_unidade">Valor unitario:</label>
        <input type="text" id="valorUnidade" name="valorUnidade"><br><br>

        <label for="valor_total">Valor total:</label>
        <input type="text" id="valorTotal" name="valorTotal"><br><br>

        <label for="data_entrega">Data de entrega:</label>
        <input type="date" id="dataEntrega" name="dataEntrega"><br><br>

        <label for="condicao_pagamento">Condição de pagamento:</label>
        <input type="text" id="condicaoPagamento" name="condicaoPagamento"><br><br>

        <input type="submit" value="Cadastrar">


    </form>
</div>
    
</body>
</html>