<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuarios</title>
</head>
<body>
    <form action="/postCadastroUsuario" method="post">

        <label for="us_nome">Nome:</label>
        <input type="text" id="nome" name="nome"> <br><br>

        <label for="us_senha">Senha:</label>
        <input type="text" id="senha" name="senha"> <br><br>

        <label for="us_funcao">Função:</label>
        <input type="text" id="funcao" name="funcao"> <br><br>

        <label for="us_login">Login:</label>
        <input type="text" id="login" name="login"><br><br>

        <input type="submit" value="Cadastrar">


    </form>
</div>
    
</body>
</html>