<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <script src="/scripts/scripts.js"></script>
    <title>Usuarios</title>
</head>
<body>
    <a href="/">Voltar</a><br>
    <a href="/cadastroUsuario">Cadastrar Usuario</a>
    <center><h1>Lista de usuarios:</h1></center>
    
    <% for (let linha in tabela){ %>
        <div class="listaOut">
            <div class="listaIn">
                <p>nome: <%= tabela[linha].us_nome %></p>
                <p>senha: <%= tabela[linha].us_senha %></p>
                <p>funcao: <%= tabela[linha].us_funcao %></p>
                <p>login: <%= tabela[linha].us_login %></p>
            </div>
        </div>
    <% } %>
    <button onclick="topoFunction()" id="botaoTopo">⇧</button>
</body>
</html>