.pedidos1{
    background-color: #D9D9D9;
    width: 30%;
    padding-top: 2vh;
    padding-bottom: 0.01vh;
}

.pedidos2{
    background-color: #C0C0C0;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}